<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div style="text-align: center">
        <h1>Número de ordenes recibidas por DNI</h1>
      </div>
      <div style="text-align: center">
        <canvas
          baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [type]="barChartType"
        >
        </canvas>
      </div>
    </div>
  </body>
</html>