body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  margin: 0;
}

.card-container {
  border-radius: 20px;
  text-align: center;
  width: 300px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.463);
  margin: auto;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.custom-button-cancel {
  background-color: #977c62;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 8px;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.custom-button-cancel:hover {
  background-color: #d0b494;
  transform: scale(1.1);
}
