<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <ng-container *ngIf="verificar(); else loading">
    <div class="card-container">
      <img src="../../../assets/icono-usuario.png" alt="Avatar" class="avatar">
      <h2>Tus credenciales:</h2>
      <strong>Nombre de usuario</strong><br>
      <p>{{ username }}</p>
      <strong>Rol</strong>
      <p>{{ role }}</p>
      <div style="justify-content: center;">
        <button title="cerrar" class="custom-button-cancel" (click)="cerrar()">Cerrar sesión</button>
      </div>
    </div>

  </ng-container>
  <ng-template #loading>
    <p>Cargando...</p>
  </ng-template>
</body>
</html>
