<div class="container">
  <br>
      <h2 style="text-align: center;">Funcionalidades</h2>
  <mat-tab-group>
    <mat-tab label="Clientes">
      <app-listar-customer></app-listar-customer>
    </mat-tab>
    <mat-tab label="Carpinteros">
      <app-listar-carpenter></app-listar-carpenter>
    </mat-tab>
    <mat-tab label="Tipos de pagos">
      <app-listar-paymenttype></app-listar-paymenttype>
    </mat-tab>
    <mat-tab label="Tipos de madera">
      <app-listar-wood-type></app-listar-wood-type>
    </mat-tab>
  </mat-tab-group>
</div>
