body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.column {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column1 {
  background-color: #0077FF;
  color: #fff;
}

.column2 {
  background-color: #fff;
}

h1 {
  font-size: 2.5em;
}

p {
  font-size: 1.2em;
  text-align: center;
}

a {
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
}

a img {
  width: 150px;
  margin: 10px;
  transition: transform 0.3s, box-shadow 0.3s; /* Agregamos transiciones para suavizar los cambios en las imágenes */
}

a img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agregamos una sombra al pasar el cursor sobre la imagen */
  transform: scale(1.1); /* Aplicamos un zoom al pasar el cursor sobre la imagen */
}
