<<<<<<< HEAD
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.column {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column1 {
  background-color: #0077FF;
  color: #fff;
}

.column2 {
  background-color: #fff;
}

h1 {
  font-size: 2.5em;
}

p {
  font-size: 1.2em;
  text-align: center;
}

a {
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
}

a img {
  width: 150px;
  margin: 10px;
  transition: transform 0.3s, box-shadow 0.3s; /* Agregamos transiciones para suavizar los cambios en las imágenes */
}

a img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agregamos una sombra al pasar el cursor sobre la imagen */
  transform: scale(1.1); /* Aplicamos un zoom al pasar el cursor sobre la imagen */
}
=======
/* home.component.css */
.furniture-cards-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  justify-content: space-around;
  padding: 16px;
}

.furniture-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.mat-card-header {
  display: flex;
  align-items: center;
  padding: 8px;
}

mat-card-title,
mat-card-subtitle {
  margin-left: 15px;
}

.image-container {
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mat-card-content {
  padding: 8px;
}

.mat-card-content:hover {
  background-color: #f5f5f5;
}

.mat-card-title {
  font-size: 1.2rem;
}

.user-badge {
  margin-left: auto;
}

.furniture-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Agregamos algunos estilos para los botones de interacción */
.interaction-buttons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.interaction-buttons button {
  margin-right: 10px;
}

.interaction-buttons button mat-icon {
  font-size: 1.2rem;
}
/* home.component.css */
.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.home-header {
  text-align: center;
  margin-bottom: 20px;
}

.home-header h1 {
  font-size: 2rem;
  margin-bottom: 5px;
}

.home-header p {
  font-size: 1rem;
  color: #555;
}

.furniture-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  justify-content: space-around;
}

>>>>>>> 451f5da (Se añadio la vista para furniture order)
