.mi-boton {
  background-color: #b89c74;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: box-shadow 0.3s, transform 0.3s;
}
.mi-boton:hover {
  background-color: #d0b494;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}
.input-busqueda {
  border: 2px solid #b89c74;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f0f0f0;
  color: #333;
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
}

.input-busqueda:focus {
  border: 2px solid #d0b494;
  box-shadow: 0 0 10px rgba(176, 156, 116, 0.5);
}

/*estilo de botones de editar y eliminar*/
.custom-button {
  background-color: #fff;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  box-shadow: none;
}

.custom-icon {
  color: #b89c74;
  font-size: 24px;
}

.custom-button:hover {
  transform: scale(1.2);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}


.custom-delete-button {
  background-color: #d0b494;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  box-shadow: none;
}

.custom-delete-button:hover {
  background-color: #b89c74;
  transform: scale(1.2);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@600&display=swap');

h2
{
  color: #4f4b4c;
  font-family: 'Playpen Sans', cursive;
  font-size: 40px;
}

th{
  color: #4f4b4c;
  font-family: 'Playpen Sans', cursive;
  font-size: 15px;
  text-align: center;
}
td{
  text-align: center;
}
