<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" *ngIf="verificar()">
      <br>
      <h2 style="text-align: center;">Lista de Diseños de Mueble</h2>
        <div style="text-align: right" >
          <button *ngIf="role=='ADMIN' || role=='CUSTOMER'"
            class="mi-boton"
            routerLink="/components/furnituredesigns/nuevo"
          >
            Nuevo
          </button>
        </div>

        <input matInput (keyup)="filter($event)" placeholder="Buscar" class="input-busqueda"><br>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator><br>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.furnitureDesignId }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Cliente</th>
          <td mat-cell *matCellDef="let element">{{ element.customer.userFirstName }} {{ element.customer.userLastName }}</td>
      </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="tipomadera">
          <th mat-header-cell *matHeaderCellDef>Tipo de madera</th>
          <td mat-cell *matCellDef="let element">
            <img [src]="getBase64Image(element.woodtype.woodTypeImage)" alt="Imagen de la madera" width="100">
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="tipomueble">
          <th mat-header-cell *matHeaderCellDef>Tipo de mueble</th>
          <td mat-cell *matCellDef="let element">
                       <!-- {{ element.furnitureTypeName }}  -->
            <img [src]="getBase64Image(element.furnituretype.furnitureTypeImage)" alt="Imagen del mueble" width="100">
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef>color</th>
          <td mat-cell *matCellDef="let element">{{ element.color }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="largo">
          <th mat-header-cell *matHeaderCellDef>Largo</th>
          <td mat-cell *matCellDef="let element">{{ element.width }} mt</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="alto">
          <th mat-header-cell *matHeaderCellDef>Alto</th>
          <td mat-cell *matCellDef="let element">{{ element.height }} mt</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="ancho">
          <th mat-header-cell *matHeaderCellDef>Ancho</th>
          <td mat-cell *matCellDef="let element">{{ element.depth }} mt</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="estimado">
          <th mat-header-cell *matHeaderCellDef>Estimación</th>
          <td mat-cell *matCellDef="let element">{{ element.estimate }} mt</td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="editar">
          <th mat-header-cell *matHeaderCellDef>Editar</th>
          <td mat-cell *matCellDef="let element">
            <button [routerLink]="['ediciones', element.furnitureDesignId]" matRipple="false" class="custom-button">
              <mat-icon class="custom-icon">create</mat-icon>
            </button>
          </td>
        </ng-container>

              <!-- Symbol Column -->

          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef>Eliminar</th>
            <td mat-cell *matCellDef="let element">
              <button (click)="eliminar(element.furnitureDesignId)" matRipple="false" class="custom-delete-button">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <br><br><br>
  </body>
</html>
