<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <br>
        <h2 style="text-align: center;">Calificaciones de los muebles</h2>

        <div style="text-align: right;">
            <button mat-raised-button color="primary" routerLink="/customerfurnitures/nuevo">Nuevo</button>
        </div><br>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator><br>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let element">{{ element.idcustomerfurniture }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="mueble">
                <th mat-header-cell *matHeaderCellDef>Mueble</th>
                <td mat-cell *matCellDef="let element">{{ element.furniture.furnitureId }}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="cliente">
                <th mat-header-cell *matHeaderCellDef>Cliente</th>
                <td mat-cell *matCellDef="let element">{{ element.customer.userFirstName }}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="calificacion">
                <th mat-header-cell *matHeaderCellDef>Calificacion</th>
                <td mat-cell *matCellDef="let element">{{ element.qualification }}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="comentarios">
                <th mat-header-cell *matHeaderCellDef>Comentarios</th>
                <td mat-cell *matCellDef="let element">{{ element.comment }}</td>
            </ng-container>

            <ng-container matColumnDef="eliminar">
                <th mat-header-cell *matHeaderCellDef>Eliminar</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="warn" (click)="eliminar(element.idcustomerfurniture)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
    <br><br><br>
</body>

</html>