<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- reporte1.component.html -->

<div class="container">
  <div class="header">
    <h1>Reporte de gastos por cada cliente</h1>
    <p>Visualización de datos de los gastos</p>
  </div>

  <div class="main-chart">
    <div class="chart-container">
      <h2 style="text-align: center;">Gráfico de Barras</h2>
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="commonChartLabels"
        [options]="commonChartOptions"
        [legend]="commonChartLegend"
        [type]="barChartType"
      ></canvas>
    </div>
  </div>

  <div class="side-by-side">
    <div class="chart-container small-chart">
      <h2 class="graf">Gráfico de Línea</h2>
      <canvas
        baseChart
        [datasets]="lineChartData"
        [labels]="commonChartLabels"
        [options]="commonChartOptions"
        [legend]="commonChartLegend"
        [type]="lineChartType"
      ></canvas>
    </div>

    <div class="chart-container small-chart">
      <h2 class="graf">Gráfico de Dona</h2>
      <canvas
        baseChart
        [datasets]="doughnutChartData"
        [labels]="commonChartLabels"
        [options]="commonChartOptions"
        [legend]="commonChartLegend"
        [type]="doughnutChartType"
      ></canvas>
    </div>
  </div>
</div>

</body>
</html>
