/* reporte1.component.css */

.container {
  max-width: 950px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.main-chart {
  width: 60%;
  margin-bottom: 20px;
}

.chart-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 20px;
}

.side-by-side {
  width: 38%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.small-chart {
  width: 50%;
  max-width: 300px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .main-chart,
  .side-by-side {
    width: 100%;
    margin-right: 0;
  }
}

.graf{
  text-align: center;
  font-size: 10px;
}

