<div class="report-container">
  <h2 class="report-title">Reporte de Ventas</h2>
  <div class="container">
    <div class="card" *ngFor="let salesData of totalSalesData">
      <div class="card-body">
        <h5 class="card-title">Cliente: {{ salesData[1] }}</h5>
        <p class="card-text">Total Gastado: $ {{ salesData[2] }}</p>
        <div class="chart-container">
          <div class="bar" [style.width.%]="calculateBarWidth(salesData[2])"></div>
        </div>
      </div>
    </div>
  </div>
</div>
