body {
  margin-top: -40px;
  overflow: hidden;
}
h1, label{
  text-align: center;
}

.custom-form {
  background-color: #ffffff;
  border: 1px solid #977c62;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.523);
  padding: 20px;
  width: 300px;
  margin: 0 auto;

}
.botoncitos{
  text-align: center;
}

.form-field {
  margin-bottom: 15px;
}

.form-field label {
  display: block;
  font-weight: bold;
}

.form-field input, .form-field select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.custom-button {
  background-color: #ffffff;
  color: #977c62;
  border: 2px solid #977c62;
  border-radius: 20px;
  transition: all 0.3s;
  margin-right: 10px;
}

.custom-button:hover {
  transform: scale(1.1);
}

.password-input {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

.toggle-password-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 16px;
  color: #977c62;
  margin-left: 5px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}


/* confetti.css */
@keyframes confetti-fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.confetti {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #ff0000; /* Color de las serpentinas */
  animation: confetti-fall 3s ease-out;
  z-index: 9999; /* Asegura que las serpentinas estén en la parte superior */
}
