<mat-toolbar class="mat-toolbar-single-row d-flex justify-content-between" id="toolbar" *ngIf="verificar()">
  <div class="d-flex align-items-center">
    WoodWork
  </div>
  <div class="d-flex align-items-center">
    <button mat-mini-fab [matMenuTriggerFor]="menuGeneral" *ngIf="validarRol()">
      <mat-icon>menu</mat-icon>
    </button>
    &nbsp; &nbsp;
    <button mat-mini-fab [matMenuTriggerFor]="menuSalir">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu #menuGeneral="matMenu">
  <button mat-menu-item routerLink="/components/home">Inicio</button>
  <button mat-menu-item routerLink="/components/customers">Clientes</button>
  <button mat-menu-item routerLink="/components/carpenters">Carpinteros</button>
  <button mat-menu-item routerLink="/components/payments">Tipos de pagos</button>
  <button mat-menu-item routerLink="/components/woodtypes">Tipo de madera</button>
  <button mat-menu-item routerLink="/components/furnitures">Muebles</button>
  <button mat-menu-item routerLink="/components/orders">Ordenes</button>
  <button mat-menu-item routerLink="/components/furnituredesigns">Diseño de Muebles</button>
  <button mat-menu-item routerLink="/components/muebles">Muebles</button>
  <button mat-menu-item routerLink="/components/customerfurnitures">clientes y muebles</button>
  <button mat-menu-item routerLink="/components/furnitureorders">Calificacion de muebles</button>
</mat-menu>

<mat-menu #menuSalir="matMenu">
  <button mat-menu-item (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
  <button mat-menu-item>
    Rol:
    <span>{{role}}</span>
  </button>
</mat-menu><br><br><br><br>

<router-outlet></router-outlet>
