<mat-toolbar color="primary" class="d-flex justify-content-between" id="toolbar">
  <div class="d-flex align-items-center">
    WoodWork
  </div>
  <div class="d-flex align-items-center">
    <button mat-mini-fab color="primary"[matMenuTriggerFor]="menuGeneral">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-menu #menuGeneral="matMenu">
  <button mat-menu-item routerLink="/home">Inicio</button>
  <button mat-menu-item routerLink="/customers">Clientes</button>
  <button mat-menu-item routerLink="/carpenters">Carpinteros</button>
  <button mat-menu-item routerLink="/woodtypes">Tipo de madera</button>
  <button mat-menu-item routerLink="/furnitures">Muebles</button>
  <button mat-menu-item routerLink="/orders">Ordenes</button>
  <button mat-menu-item routerLink="/furnituredesigns">Diseño de Muebles</button>
  <button mat-menu-item routerLink="/muebles">Muebles</button>
</mat-menu>
<br><br><br><br>
<router-outlet></router-outlet>
