/* maderas.component.css */
.wood-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.wood-card {
  width: 300px;
  margin: 10px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.wood-card:hover {
  transform: scale(1.05);
}

.card-header {
  overflow: hidden;
  border-radius: 16px 16px 0 0;
}

.wood-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.card-body {
  padding: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wood-title {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 8px;
}

.wood-description {
  font-size: 1.3em;
  color: #555;
  margin-bottom: 16px;
}

@media (max-width: 600px) {
  .wood-card {
    width: calc(100% - 20px);
  }
}

.page-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}
.page-header {
  text-align: center;
  margin-bottom: 20px;
}

.page-description {
  padding: 15px 80px;
  font-size: 1.2em;
  color: #555;
}


