<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catálogo de Tipos de Madera</title>
</head>
<body>

  <div class="page-header">
    <h1 class="page-title">Catálogo de Tipos de Madera</h1>
    <p class="page-description">Explora nuestra amplia selección de tipos de madera, cada uno con su propia belleza y características únicas. Desde exquisitas vetas hasta durabilidad excepcional, descubre la versatilidad de estas maderas a través de nuestro catálogo.</p>
  </div>

  <div *ngIf="dataSource.data.length > 0" class="wood-cards" routerLink="/components/woodtypes">
    <mat-card *ngFor="let woodType of dataSource.data" class="wood-card">
      <div class="card-header">
        <img [src]="getBase64Image(woodType.woodTypeImage)" alt="{{ woodType.woodTypeName }}" class="wood-image">
      </div>
      <div class="card-body">
        <h2 class="wood-title" style="text-align: center;">Tipo de madera</h2>
        <p class="wood-description" style="text-align: center;"><strong>{{ woodType.woodTypeName }}</strong></p>
      </div>
    </mat-card>
  </div>

</body>
</html>
