/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@600&display=swap');

h2
{
  color: #4f4b4c;
  font-family: 'Playpen Sans', cursive;
  font-size: 40px;
}

.container {
  max-width: 600px;
  margin: 20px auto;
}

.container2{
  max-width: 550;
  margin: 30px auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.601);
  overflow: hidden;
}

.header {
  color: #000000;
  padding: 20px;
  margin: 0;
}

.actions {
  padding: 10px;
  text-align: center;
}

.custom-button-cancel {
  background-color: #977c62;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  transition: background-color 0.3s;
  margin-right: 10px;
  padding: 8px 9px;
}

.custom-button-cancel:hover {
  background-color: #d0b494;
  transform: scale(1.1);
}



details {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  background-color: #ecf0f1;
}

summary {
  padding: 10px;
  background-color: #b89c74;
  color: #fff;
  border-bottom: 1px solid #dbb98a;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
}

summary:hover {
  background-color: #dbb98a;
}

.customer-card {
  padding: 10px;
  display: none;
  background-color: #fff;
}

details[open] .customer-card {
  display: block;
}

.customer-info {
  display: flex;
  flex-direction: column;
}

.customer-details {
  margin-top: 10px;
}

.info-item {
  margin-bottom: 5px;
}
