
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" *ngIf="verificar()">
      <br>
      <h2 style="text-align: center;">Lista de Ordenes</h2>

        <div style="text-align: right" >
          <button *ngIf="role=='ADMIN' || role=='CUSTOMER'"
            class="mi-boton"
            routerLink="/components/orders/nuevo"
          >
            Nuevo
          </button>
        </div>
        <input matInput (keyup)="filter($event)" placeholder="Buscar" class="input-busqueda"><br>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator><br>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.orderId }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="precioTotal">
          <th mat-header-cell *matHeaderCellDef>Precio Total</th>
          <td mat-cell *matCellDef="let element">{{ element.totalPrice }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="pago">
          <th mat-header-cell *matHeaderCellDef>Pago</th>
          <td mat-cell *matCellDef="let element">{{ element.payment.namePaymentType }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="cantidadTotal">
            <th mat-header-cell *matHeaderCellDef>Cantidad Total</th>
            <td mat-cell *matCellDef="let element">{{ element.totalQuantity }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="fechaOrden">
            <th mat-header-cell *matHeaderCellDef>Fecha de orden</th>
            <td mat-cell *matCellDef="let element">
              {{ element.orderDate | date : "dd/MM/yyyy" }}
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef>Cliente</th>
            <td mat-cell *matCellDef="let element">{{ element.customer.userFirstName }}</td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="editar">
          <th mat-header-cell *matHeaderCellDef>Editar</th>
          <td mat-cell *matCellDef="let element">
            <button [routerLink]="['ediciones', element.orderId]" matRipple="false" class="custom-button">
              <mat-icon class="custom-icon">create</mat-icon>
            </button>
          </td>
        </ng-container>
        
              <!-- Symbol Column -->
          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef>Eliminar</th>
            <td mat-cell *matCellDef="let element">
              <button (click)="eliminar(element.orderId)" matRipple="false" class="custom-delete-button">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <br><br><br>
  </body>
</html>
