<div class="ratings-section">

  <div class="header">

    <h2 class="section-title">Calificaciones de Clientes</h2>
    <p class="section-subtitle">Explora las opiniones de nuestros clientes sobre nuestros diseños de muebles.</p>
    <button class="mi-boton"  routerLink="/components/customerfurnitures">
      ver registro
    </button>
  </div>
  <div class="card-container" >

    <div *ngFor="let item of dataSource.data" class="card">

      <div class="card-image">
        <img [src]="getBase64Image(item.furniture.furnitureDesign.furnituretype.furnitureTypeImage)" alt="Furniture Image">
      </div>
      <div class="card-content">
        <div class="profile-image">
        </div>
        <h5 class="card-title"><img src="../../../assets/user.png" alt="Profile Image"> {{ item.customer.userFirstName }} {{ item.customer.userLastName }}</h5>
        <p class="card-text">{{ item.qualification }}</p>
        <p class="card-text">{{ item.comment }}</p>
        <button mat-icon-button routerLink="/components/customerfurnitures">
          <mat-icon>visibility</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="header">
    <h2 class="section-title">¿Qué esperas para diseñar el tuyo?</h2>
    <p class="section-subtitle">Explora.</p>
  </div>
</div>
