<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="text-align: center">

      <h2>Registro de tipos de maderas</h2>

      <form [formGroup]="form" (submit)="aceptar()" class="example-form" >

        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Nr</mat-label>
          <input matInput placeholder="id" readonly  formControlName="idWoodType"/>
          </mat-form-field>
          <br />

        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput
          placeholder="nombre"
          formControlName="woodTypeName" />
          <mat-error
            *ngIf="obtenerControlCampo('woodTypeName')?.errors?.['required']"
          >
            El nombre es obligatorio.
          </mat-error>
        </mat-form-field>
        <br/>

        <mat-form-field class="example-full-width">
          <mat-label>Imagen</mat-label>
          <input matInput
          placeholder="Imagen (insertar url)"
          formControlName="woodTypeImage" />
          <mat-error
            *ngIf="obtenerControlCampo('woodTypeImage')?.errors?.['required']"
          >
            El nombre es obligatorio.
          </mat-error>
        </mat-form-field>
        <br/>

        <button class="custom-button">Aceptar</button>
        <button class="custom-button-cancel" routerLink="/components/woodtypes">
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
