<<<<<<< HEAD
$color-uno: #838c72
=======
$mi-color-personalizado: #b89c74;


/* src/styles.scss */
@import '~@angular/material/theming';

$mi-tema: mat-light-theme(
  $mi-color-primary: $mi-color-personalizado,
  $mi-color-accent: $mi-color-personalizado,
  $mi-color-warn: $mi-color-personalizado
);

@include angular-material-theme($mi-tema);
>>>>>>> 451f5da (Se añadio la vista para furniture order)
