<<<<<<< HEAD
=======
<<<<<<< HEAD
$color-uno: #838c72
=======
>>>>>>> 6efaed6f22721bb8a023f35c9b598550f4e09645
$mi-color-personalizado: #b89c74;


/* src/styles.scss */
@import '~@angular/material/theming';

$mi-tema: mat-light-theme(
  $mi-color-primary: $mi-color-personalizado,
  $mi-color-accent: $mi-color-personalizado,
  $mi-color-warn: $mi-color-personalizado
);

@include angular-material-theme($mi-tema);
<<<<<<< HEAD
=======
>>>>>>> 451f5da (Se añadio la vista para furniture order)
>>>>>>> 6efaed6f22721bb8a023f35c9b598550f4e09645
