<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="text-align: center">

      <h2>Registro de Diseño de Muebles</h2>

      <form [formGroup]="form" (submit)="aceptar()" class="example-form" >

        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Nr</mat-label>
          <input matInput placeholder="id" readonly formControlName="idFurnitureDesign"/>
          </mat-form-field>
          <br />

        <mat-form-field class="example-full-width">
          <mat-label>Cliente</mat-label>
          <input matInput
          placeholder="nombre"
          formControlName="customerName" />
          <mat-error
            *ngIf="obtenerControlCampo('customerName')?.errors?.['required']"
          >
            El nombre es obligatorio.
          </mat-error>
        </mat-form-field>
        <br/>

        <mat-form-field class="example-full-width">
          <mat-label>Tipo de madera</mat-label>
          <input matInput
          placeholder="tipo-madera"
          formControlName="woodTypeName" />
          <mat-error
            *ngIf="obtenerControlCampo('woodTypeName')?.errors?.['required']"
          >
            El nombre es obligatorio.
          </mat-error>
        </mat-form-field>
        <br/>

        <mat-form-field class="example-full-width">
          <mat-label>Tipo de mueble</mat-label>
          <input matInput
          placeholder="tipo-mueble"
          formControlName="furnitureTypeName" />
          <mat-error
            *ngIf="obtenerControlCampo('furnitureTypeName')?.errors?.['required']"
          >
            El nombre es obligatorio.
          </mat-error>
        </mat-form-field>
        <br/>

        <mat-form-field class="example-full-width">
            <mat-label>Color</mat-label>
            <input matInput
            placeholder="color"
            formControlName="furnitureDesignColor" />
            <mat-error
              *ngIf="obtenerControlCampo('furnitureDesignColor')?.errors?.['required']"
            >
              El nombre es obligatorio.
            </mat-error>
          </mat-form-field>
          <br/>

        <mat-form-field class="example-full-width">
            <mat-label>Largo</mat-label>
            <input matInput
            placeholder="largo"
            formControlName="furnitureDesignWidth" />
            <mat-error
              *ngIf="obtenerControlCampo('furnitureDesignWidth')?.errors?.['required']"
            >
              El nombre es obligatorio.
            </mat-error>
          </mat-form-field>
          <br/>

          <mat-form-field class="example-full-width">
            <mat-label>Alto</mat-label>
            <input matInput
            placeholder="alto"
            formControlName="furnitureDesignHeight" />
            <mat-error
              *ngIf="obtenerControlCampo('furnitureDesignHeight')?.errors?.['required']"
            >
              El nombre es obligatorio.
            </mat-error>
          </mat-form-field>
          <br/>

          <mat-form-field class="example-full-width">
            <mat-label>Ancho</mat-label>
            <input matInput
            placeholder="ancho"
            formControlName="furnitureDesignDepth" />
            <mat-error
              *ngIf="obtenerControlCampo('furnitureDesignDepth')?.errors?.['required']"
            >
              El nombre es obligatorio.
            </mat-error>
          </mat-form-field>
          <br/>

          <mat-form-field class="example-full-width">
            <mat-label>Estimado</mat-label>
            <input matInput
            placeholder="estimado"
            formControlName="furnitureDesignEstimate" />
            <mat-error
              *ngIf="obtenerControlCampo('furnitureDesignEstimate')?.errors?.['required']"
            >
              El nombre es obligatorio.
            </mat-error>
          </mat-form-field>
          <br/>

        <button mat-raised-button color="primary">Aceptar</button>
        <button mat-raised-button color="warn" routerLink="/woodtypes">
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>